body {
    margin: 0%;
}
.covid-header { 
    height: 40px;
    width: 100%;
    background-color:  #49a4d5;
    padding-bottom: 17px;
}
.head-container {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 550px;
}
.head-container h4 {
    font-family: 'Roboto', sans-serif;
}
.head-container i {
    padding-left: 5px;
    padding-right: 5px;
}
.site-head {
    margin: 20px;
    border: 5px;
}
.site-logo {
    display: flex;
    align-items: center;
    font-size: 30px;
}