body {
    margin: 0%;
}
.covid-header { 
    height: 50px;
    width: 100%;
    background-color:  #49a4d5;
}
.head-container {;
}
.covid-header h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.covid-header i {

}